body {
  /* background-color: #ddd; */
  color: #555;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* GRID */
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* HEADINGS */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  margin-bottom: 3rem;
  font-size: 3.6rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

/* BUTTONS */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 2px #fff;
}

strong {
  font-weight: 500;
}
