@charset "UTF-8";

/* 

--- 01 TYPOGRAPHY SYSTEM

- Font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 86 / 98;

- Font weight: 
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
;

- Line height:
Default: 1;
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

-Letter spacing: 
-0.5px (headings)
0.75px (subheadings);

--- 02 COLORS

- Primary: #e67e22;

- Tints: 
#fdf2e9
#fae5d3;

- Shades: #cf711f;

- Accents: ;

- Greys:
#6f6f6f
#555
#333
#ddd
;

--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px;

--- 07 WHITESPACE

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;
- */

/*      HEADER      */
.header {
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 2.2rem;
}

/* HEADER -> NAV */
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;

  color: #fff;

  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*   SECTION-HERO    */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 9.6rem;
  height: 100vh;
}

.btn--outline:hover .symbol {
  transform: translateY(2px);
}

/* GRID */
.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.5;
}

/* HERO -> DELIVERED MEALS */
.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/* HERO -> IMAGE */
.hero-img {
  width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.456));
}

/* SECTION-FEATURED-IN */
.section-featured {
  padding: 4.8rem 0;
}

.heading-featured-in {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*    SECTION-HOW    */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  color: #6b6b6b;
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  background-color: #fae5d3;
  padding-bottom: 45%;

  z-index: -1;
}

.step-img {
  width: 35%;
}

/* SECTION-MEALS */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  overflow: hidden;
  border: 2px solid #eee;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.156);

  transform: translateY(-1rem);
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;

  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  stroke: #e67e22;
  color: #e67e22;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.all-recipes .symbol {
  color: #e67e22;
}

.link:hover .symbol {
  /* color: #cf711f; */
  transform: translateX(5px);
}

.meal-img {
  width: 100%;
  /* border-top-right-radius: 11px;
  border-top-left-radius: 11px; */
}

/* SECTION-TESTIMONIAL */
.section-testimonials {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
}

.gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  overflow-clip-margin: content-box;
  overflow: clip;

  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
