@charset "UTF-8";

/* 

--- 01 TYPOGRAPHY SYSTEM

- Font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 86 / 98;

- Font weight: ;

- Line height:
Default: 1;

--- 02 COLORS

- Primary: #e67e22;

- Tints: ;

- Shades: ;

- Accents: ;

- Greys:
#555;

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;
- */

body {
  color: #555;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
}
