@charset "UTF-8";

/* 

--- 01 TYPOGRAPHY SYSTEM

- Font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 86 / 98;

- Font weight: 
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
;

- Line height:
Default: 1;
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

-Letter spacing: 
-0.5px (headings)
0.75px (subheadings);

--- 02 COLORS

- Primary: #e67e22;

- Tints: 
#fdf2e9
#fae5d3;

- Shades: 
#cf711f
#45260a

- Accents: ;

- Greys:
#888
#767676'
#6f6f6f
#555
#333
#ddd
#7c7c7c
#aaa

--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;
- */

:root {
  /* BACKGROUND COLORS */
  --background-primary: #e67e22;
  --background-tint-1: #fdf2e9;
  --background-tint-2: #fae5d3;
  --background-tint-3: #eb984e;

  /* GRAY COLORS */
  --gray-1: #6f6f6f;
  --gray-2: #555;
  --gray-3: #333;
  --gray-4: #ddd;
  --gray-5: #7c7c7c;

  /* CTA COLOR */
  --cta-color-text: #45260a;

  /* RIBBON COLOR */
  --ribbon-primary: #ffd700;

  --shadow-color: #cf711f;
}

/* *********************** */
/*      HEADER SECTION     */
/* *********************** */
.header {
  background-color: var(--background-tint-1);
  height: 9.6rem;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.2rem;
}

/* HEADER -> NAV */
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  /* padding: 0.5rem; */
  /* border-radius: 11px; */
  color: var(--gray-3);
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--shadow-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: var(--background-primary);
  padding: 1.2rem 2.4rem;
  border-radius: 9px;

  color: #fff;

  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shadow-color);
}

/* ********************** */
/*      HERO SECTION      */
/* ********************** */
.section-hero {
  background-color: var(--background-tint-1);
  padding: 4.8rem 0 9.6rem 0;
  height: 100vh;
}

.btn--outline:hover .symbol {
  transform: translateY(2px);
}

/* GRID */
.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

/* HERO -> DELIVERED MEALS */
.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--background-primary);
  font-weight: 700;
}

/* HERO -> IMAGE */
.hero-img {
  width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.456));
}

/* SECTION-FEATURED-IN */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  margin-bottom: 2.4rem;
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.logos {
  display: flex;
  /* justify-content: space-around; */
  overflow-x: hidden;
  user-select: none;
}

.group-logos {
  display: flex;
  justify-content: space-around;
  gap: 1.6rem;
}

.group-logos {
  flex-shrink: 0;
  padding-right: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
  min-width: 100%;
  animation: loop 20s linear infinite;
}

.logos img {
  display: block;
  margin-inline: 1.6rem;
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*    SECTION-HOW    */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: var(--gray-4);
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  color: var(--gray-1);
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  background-color: var(--background-tint-1);
  padding-bottom: 60%;

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  background-color: var(--background-tint-2);
  padding-bottom: 45%;

  z-index: -1;
}

.step-img {
  width: 35%;
}

/* ********************** */
/*     MEALS SECTION      */
/* ********************** */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  overflow: hidden;
  border: 2px solid #eee;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.156);

  transform: translateY(-1rem);
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;

  color: var(--gray-3);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  color: var(--gray-3);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--background-primary);
  color: var(--background-primary);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--background-primary);
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.all-recipes .symbol {
  color: var(--background-primary);
}

.link:hover .symbol {
  transform: translateX(5px);
}

.meal-img {
  width: 100%;
  /* border-top-right-radius: 11px;
  border-top-left-radius: 11px; */
}

/* *************************** */
/*    TESTIMONIALS SECTION     */
/* *************************** */
.section-testimonials {
  background-color: var(--background-tint-1);

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial-name {
  color: var(--gray-1);
  font-size: 1.6rem;
}

.gallery {
  padding: 0 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  overflow-clip-margin: content-box;
  overflow: clip;

  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ********************** */
/*    PRICING SECTION     */
/* ********************** */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;
  padding: 4.8rem;
  border: 2px solid #fdf2e9;
  border-radius: 11px;
}

.pricing-plan--starter {
  justify-self: end;
}

.pricing-plan--starter .btn {
  background-color: var(--background-tint-1);
  color: var(--gray-1);

  transition: all 0.4s linear;
}

.pricing-plan--starter .btn:hover {
  background-color: var(--background-tint-2);
}

.pricing-plan--complete {
  background-color: var(--background-tint-1);
  /* justify-self: center; */
  position: relative;
}

.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  margin-bottom: 3.2rem;
  color: var(--shadow-color);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
}

.plan-price {
  margin-bottom: 1.6rem;
  color: var(--gray-3);
  font-size: 6.2rem;
  font-weight: 600;
}

.plan-price span {
  margin-right: 0.8rem;
  font-size: 3rem;
  font-weight: 500;
}

.plan-text {
  color: var(--gray-1);
  font-size: 1.8rem;
  line-height: 1.6;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--background-primary);
}

.plan-sing-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 130px;
  height: 125px;
  text-align: right;
  user-select: none;
}
.plan-ribbon span {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--gray-3);
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 170px;
  display: block;
  background: var(--ribbon-primary);
  background: linear-gradient(var(--ribbon-primary) 0%, #b39429 60%);
  /* padding: 0.8rem 0; */
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 37px;
  right: -34px;
}
.plan-ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #b39429;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #b39429;
}
.plan-ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #b39429;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #b39429;
}

.plan-details {
  color: var(--gray-5);
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--background-tint-2);
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
  color: var(--background-primary);
}

.feature-title {
  margin-bottom: 1.6rem;
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ********************** */
/*     CTA SECTION      */
/* ********************** */
.section-cta {
  padding: 9.6rem 0 12.8rem;
}

.cta-grid {
  background-color: var(--background-primary);
  background-image: linear-gradient(
    to right bottom,
    var(--background-tint-3),
    var(--background-primary)
  );
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  display: grid;
  grid-template-columns: 2fr 1fr;

  overflow: hidden;

  /* temp */
  /* height: 50rem; */
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--cta-color-text);
}

.cta-grid .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem 3.2rem;
}

.cta-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-form input,
.cta-form select {
  width: 100%;
  background-color: var(--background-tint-1);
  padding: 1.2rem;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: inherit;
  font-size: 1.8rem;
  font-family: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../images/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.49);
}

/* **************** */
/* FOOTER */
/* ****************** */
.footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c80 C 57.6%2c105.2 172.8%2c197.6 288%2c206 C 403.2%2c214.4 460.8%2c109.2 576%2c122 C 691.2%2c134.8 748.8%2c283.2 864%2c270 C 979.2%2c256.8 1036.8%2c61.8 1152%2c56 C 1267.2%2c50.2 1382.4%2c204 1440%2c241L1440 560L0 560z' fill='rgba(207%2c 113%2c 31%2c 0.1)'%3e%3c/path%3e%3cpath d='M 0%2c316 C 96%2c339 288%2c416.4 480%2c431 C 672%2c445.6 768%2c364.2 960%2c389 C 1152%2c413.8 1344%2c521.8 1440%2c555L1440 560L0 560z' fill='rgba(230%2c 126%2c 34%2c 0.1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  /* filter: opacity(60%); */
  padding: 12.8rem 0;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  margin-top: auto;

  color: #767676;
  font-size: 1.4rem;
  line-height: 1.6;
}

.footer-heading {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.address {
  margin-bottom: 2.4rem;
}

.contacts {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.social-links .footer-link::before {
  display: none;
}

.footer-link:link,
.footer-link:visited {
  /* padding-bottom: 3px; */
  color: #767676;
  font-size: 1.5rem;
  text-decoration: none;

  position: relative;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-link::before {
  content: "";
  background: var(--background-primary);
  height: 1px;

  position: absolute;
  top: 90%;
  bottom: 0;
  right: 100%;
  left: 0;

  transition: all 0.3s linear;
}

.footer-link:hover::before {
  left: 0;
  right: 0;
}
