@charset "UTF-8";

/* 

--- 01 TYPOGRAPHY SYSTEM

- Font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 86 / 98;

- Font weight: 
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
;

- Line height:
Default: 1;
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

-Letter spacing: 
-0.5px (headings)
0.75px (subheadings);

--- 02 COLORS

- Primary: #e67e22;

- Tints: #fdf2e9;

- Shades: #cf711f;

- Accents: ;

- Greys:
#555
#333;

--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 9px

--- 07 WHITESPACE

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;
- */

body {
  color: #555;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
}

/*      HEADER      */
.header {
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 2.2rem;
}

/* HEADER -> NAV */
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;

  color: #fff;

  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*   SECTION-HERO    */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 9.6rem;
  height: 100vh;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

/* HEADINGS */

.heading-primary,
.heading-secondary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.5;
}

/* HERO -> BUTTONS */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 2px #fff;
}

/* HERO -> DELIVERED MEALS */
.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/* HERO -> IMAGE */
.hero-img {
  width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.456));
}

/*    SECTION-HOW    */
.section-how {
  padding: 9.6rem 0;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.step-img {
  width: 50%;
}
